.mainContainer {
  background-color: #fff;
  font-family: Inter, sans-serif;
}

.heroImageContainer {
  border-radius: 8px;
  width: 1280px;
  height: 640px;
  margin: 40px auto;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
