.button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  transition: background-color 0.2s;
}

.primary {
  color: #fff;
  background-color: #000;
  font-size: 20px;
  font-weight: 500;
  padding: 16px 32px;
  width: 100%;
}

.secondary {
  color: #fff;
  background-color: #000;
  font-size: 16px;
  padding: 14px 24px;
}

@media (width <= 640px) {
  .secondary {
    padding: 10px 16px;
  }
}
